<div ng-include="'components/navbar/navbar.html'"></div>
<div class="container">
    <div class="row">
        <form ng-submit="ctrl.submitPoll()">
            <div class="form-group">
                <label>Question</label>
                <input type="text" class="form-control" ng-model="ctrl.poll.question" name="question" />
            </div>
            <div class="form-group">
                <h5>Chart Type</h5>
                <div class="radio-inline">
                    <label>
                        <input type="radio" ng-model="ctrl.poll.chart.type" name="chart_type" value="pie" />
                        Pie
                    </label>
                </div>
                <div class="radio-inline">
                    <label>
                        <input type="radio" ng-model="ctrl.poll.chart.type" name="chart_type" value="doughnut" />
                        Doughnut
                    </label>
                </div>
            </div>
            <div class="row">
            <div class="form-group col-md-8">
                <h5>Add Choices</h5>
                <ul class="list-unstyled">
                    <li ng-repeat="choice in ctrl.poll.choices track by $index">
                        <input type="text" class="form-control" ng-model="ctrl.poll.choices[$index].label" name="{{ $index }}" /> 
                    </li>
                    <li>
                        <button type="button" class="btn btn-primary btn-md btn-block" ng-click="ctrl.addChoice()">+ Add Choice</button>
                    </li>
                </ul>
            </div>
            <div class="col-md-4 hidden-sm hidden-xs">
                <chart-pie type="ctrl.poll.chart.type" choices="ctrl.poll.choices" width="300" height="300"></chart-pie>
            </div>
            </div>
            <div class="form-group">
                <label>
                    <input type="checkbox" ng-model="ctrl.poll.allow_other" name="allow_other" />
                    Allow Other? Voters will be able to add permanent additional choices.
                </label>
            </div>
            <button type="submit" class="btn btn-primary btn-md btn-block">Submit</button>
        </form>
    </div>
</div>
