<div ng-include="'components/navbar/navbar.html'"></div>

<div class="container">
    <div class="row">
        <div class="col-xs-12 text-center">
            <h2>{{ ctrl.poll.question }}</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-md-7">
            <chart-pie doughnut="ctrl.poll.chart.doughnut" choices="ctrl.poll.choices" width="500" height="500"></chart-pie>
        </div>
        <div class="col-xs-12 col-md-5">
            <div class="choice-container" ng-repeat="choice in ctrl.poll.choices" class="radio" ng-class="disabled">
                    <label class="btn choice" ng-style="{borderColor: choice.color}">
                        <input type="radio" ng-model="ctrl.selection" name="option" ng-value="choice.id" ng-disabled="">
                        {{ choice.label }} <span ng-hide="true" class="badge choice-badge">{{choice.value}}</span>
                    </label>
                </div>
                <div class="choice-container" ng-if="ctrl.poll.allow_other === true" class="radio" ng-class="disabled">
                    <label class="btn choice-other" style="border-color: #ccc;">
                        <input type="radio" ng-model="ctrl.selection" name="option" value="other" ng-disabled="">
                        <input type="text" ng-click="ctrl.selection = 'other'" name="other"  placeholder="Other" ng-disabled="">
                    </label>                    
                </div>
                <input class="btn btn-primary" type="submit" value="Vote" ng-disabled="">
        </div>
    </div>
</div>
